body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: antiquewhite;
    
}


.navbarcontent{
    display:flex;
    flex-direction: row;
    list-style: none;
    gap:10px;
    
    
}

.navbar{
    display:flex;
    
    align-items: center;
    justify-content:space-between ;
    background-color: azure;
}

#user{
    display:flex;
   
    justify-content: center;
    align-items: center;
    border-radius: 18%;
    margin:0;
    height:2.5rem;
    width:5rem;
    background-color: #ecf7ff;
    color: #6ab4f7;
   
}


.container{
   width:100vw;
   height:100vh;
   display:flex;
   
   flex-direction: row;
   
   
}

.left{
    width:50vw;
    height: 98vh;
    margin:5px;
    display:flex;
    flex-direction: column;
}
.right{
    width:50vw;
    height: 98vh;
    margin:5px;
}

.content{
    list-style:none;
    
    margin-top:20vh;
}

.big{
    font-size:10vh;
    
}
#small{
    font-size:25px;
}
.blue{
    color:blue;
}
button{
    height:70px;
    width:300px;
    
    margin-left: 50px;
    border-radius:10%;
    background-color:#2d9de8;
    color:white;
    border:none;
    
}

nav>ul>li:hover{
  color:blue;
  cursor:pointer;
  transform:scale(1.2);
  transform:translateY(-2px)
}

button:hover{
    cursor:pointer;
    transform: scale(1.2);

}
button:active{
    transform:scale(1);
    
}